* {
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
}
.col{
    background-color: aquamarine;
    padding: 15px;
    margin: 5px;
    flex: 1;
}
.row-2{
    display: flex;
    
}
.col-1 {
    flex: 1
}
.col-2{
    flex:2;

}
.col-1,.col-2 {
    background-color: aqua;
    padding: 15px;
    margin: 5px;
}
.row-3 {
    display: flex;
}
.col-4 {
    flex:2;
}
.col-5 {
    flex: 3;
}
.col-4, .col-5 {
    background-color: teal;
    padding: 15px;
    margin: 5px;
}